@charset "utf-8";
html{
    .logo{
        width: 25%;
        padding: 15px 0 10px 15px;
    }
    #icon  img{
        width: 35px;
        height: 35px;
        padding-top: 40%;
    }
}

/* header */
header{
    background:#186AC9;
}

#head #head-menu {
    display: flex;
    /* justify-content: space-between; */
}

#head{
    width: 95%;
    height: 10%;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* アコーディオン */
#head{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 10px;

}
.accordion{
    display: flex;
    /* vertical-align: middle; */
}

.accordion p{
    padding-top: 24px;
    padding-right: 20px;
}

.accordion-menu ul{
    padding-top: 10px;
}

.sub-menu ul li{
  display: none;

}

#icon img{
    cursor: pointer;
}
