@charset "utf-8";
html{
    .logo{
        width: 25%;
        padding: 20px 0 10px 20px;
    }
    #icon img{
        width: 100%;
    }
}
body{

}
/* header */
header{
    background:#186AC9;
}

#head #head-menu #icon{
    display: flex;
    justify-content: space-between;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/* アコーディオン */
#head{
    display: flex;
    justify-content: space-between;
    position: relative;

}
.accordion{
    display: flex;
    /* vertical-align: middle; */
}
.accordion p {
    padding-top: 12%;
}
.accordion .accordion-menu{
/* display: none; */
}
